In [1]:
import pandas as pd
import requests
import json
import math
import numpy as np

In [15]:
## 통합 인구 데이터 생성
area = pd.read_csv('./data/area.csv')

# 거주 & 직장 인구 데이터
area_work = pd.read_csv('./data/population_material/area_work_pop.csv') # 상권 직장인구
area_work = area_work.sort_values(['area_code'], ascending=True).reset_index(drop=True)
side_work = pd.read_csv('./data/population_material/areaside_work_pop.csv') # 상권 거주인구
side_work = side_work.sort_values(['area_code'], ascending=True).reset_index(drop=True)
area_live = pd.read_csv('./data/population_material/area_live_pop.csv') # 상권인근 직장인구
area_live = area_live.sort_values(['area_code'], ascending=True).reset_index(drop=True)
side_live = pd.read_csv("./data/population_material/areaside_live_pop.csv") # 상권인근 거주인구
side_live= side_live.sort_values(['area_code'], ascending=True).reset_index(drop=True)

In [35]:
population = pd.DataFrame(columns = ['area_code', 'area_name','total','m','fm','age10','age20','age30','age40','age50','age60'])
population['area_code'] = area['area_code']
population['area_name'] = area['area_name']
population = population.sort_values(['area_code'], ascending=True).reset_index(drop=True)
population = population.fillna(0)
population['idx'] = population['area_code']
population=population.set_index('idx')
population

,area_code,area_name,total,m,fm,age10,age20,age30,age40,age50,age60
idx,,,,,,,,,,,
1000001,1000001,계동길,0,0,0,0,0,0,0,0,0
1000002,1000002,난계로27길,0,0,0,0,0,0,0,0,0
1000003,1000003,돈화문로11가길,0,0,0,0,0,0,0,0,0
1000004,1000004,명륜길,0,0,0,0,0,0,0,0,0
1000005,1000005,백석동길,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1001492,1001492,명동 남대문 북창동 다동 무교동 관광특구,0,0,0,0,0,0,0,0,0
1001493,1001493,동대문패션타운 관광특구,0,0,0,0,0,0,0,0,0
1001494,1001494,종로·청계 관광특구,0,0,0,0,0,0,0,0,0
1001495,1001495,잠실 관광특구,0,0,0,0,0,0,0,0,0
1001496,1001496,강남 마이스 관광특구,0,0,0,0,0,0,0,0,0

In [17]:
area_work = area_work.set_index('area_code')
area_live = area_live.set_index('area_code')
side_work = side_work.set_index('area_code')
side_live = side_live.set_index('area_code')

In [18]:
# 인구 수 합계
def populationSum(df):
    for i in df.index:
        population['total'][i] = population.loc[i]['total'] +df.loc[i]['total']
        population['m'][i] = population.loc[i]['m'] + df.loc[i]['m']
        population['fm'][i] = population.loc[i]['fm'] + df.loc[i]['fm']
        population['age10'][i] = population.loc[i]['age10'] + df.loc[i]['age10']
        population['age20'][i] = population.loc[i]['age20'] + df.loc[i]['age20']
        population['age30'][i] = population.loc[i]['age30'] + df.loc[i]['age30']
        population['age40'][i] = population.loc[i]['age40'] + df.loc[i]['age40']
        population['age50'][i] = population.loc[i]['age50'] + df.loc[i]['age50']
        population['age60'][i] = population.loc[i]['age60'] + df.loc[i]['age60']

In [36]:
populationSum(area_live)
populationSum(area_work)
populationSum(side_live)
populationSum(side_work)

//anaconda3/envs/recommender/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
//anaconda3/envs/recommender/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
//anaconda3/envs/recommender/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
//anaconda3/envs/recommender/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

//anaconda3/envs/recommender/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
//anaconda3/envs/recommender/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

//anaconda3/envs/recommender/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
//anaconda3/envs/recommender/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
//anaconda3/envs/recommender/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [37]:
# 결측 값 
population[population['total']==0]

,area_code,area_name,total,m,fm,age10,age20,age30,age40,age50,age60
idx,,,,,,,,,,,
1001014,1001014,양재동 꽃시장,0,0,0,0,0,0,0,0,0
1001191,1001191,왕십리역_1,0,0,0,0,0,0,0,0,0
1001311,1001311,동부청과시장,0,0,0,0,0,0,0,0,0
1001322,1001322,동부시장,0,0,0,0,0,0,0,0,0
1001366,1001366,상계시장,0,0,0,0,0,0,0,0,0
1001410,1001410,대원종합시장,0,0,0,0,0,0,0,0,0
1001434,1001434,양남시장,0,0,0,0,0,0,0,0,0

In [38]:
population.to_csv('./data/population.csv',index=False)
population

,area_code,area_name,total,m,fm,age10,age20,age30,age40,age50,age60
idx,,,,,,,,,,,
1000001,1000001,계동길,39262,21569,17693,1056,6374,12407,9793,6195,3437
1000002,1000002,난계로27길,21270,11042,10228,1303,3343,4103,3490,4007,5024
1000003,1000003,돈화문로11가길,59864,35499,24365,478,10269,19537,14958,9425,5197
1000004,1000004,명륜길,28902,13325,15577,1359,6709,7774,5793,4147,3120
1000005,1000005,백석동길,9697,4873,4824,1121,1447,1590,1751,1661,2127
...,...,...,...,...,...,...,...,...,...,...,...
1001492,1001492,명동 남대문 북창동 다동 무교동 관광특구,159936,78359,81577,601,34337,52919,41512,23428,7139
1001493,1001493,동대문패션타운 관광특구,12580,6961,5619,195,2752,3750,2588,1964,1331
1001494,1001494,종로·청계 관광특구,33622,20295,13327,139,4662,9612,8854,7218,3137
1001495,1001495,잠실 관광특구,37758,21219,16539,880,6952,9313,7716,7409,5488
1001496,1001496,강남 마이스 관광특구,22588,12987,9601,141,5389,7831,5605,2678,944

In [39]:
# 유동인구
area_floating = pd.read_csv('./data/population_material/area_floating.csv')

area_floating = area_floating.drop(area_floating.columns[15:], axis='columns')
area_floating = area_floating.drop(area_floating.columns[:4], axis='columns')
area_floating.columns = [ 'area_code','area_name','total','m','fm','age10','age20','age30','age40','age50','age60']
area_floating = area_floating.set_index('area_code')
area_floating

,area_name,total,m,fm,age10,age20,age30,age40,age50,age60
area_code,,,,,,,,,,
1000085,회나무로13길,127963,60744,67220,2170,41815,38572,24308,10564,10539
1001035,매봉역,76271,43784,32485,1476,16410,17316,14942,13800,12330
1000594,양천로26길,45932,26178,19753,1802,9220,10818,7508,8106,8476
1000709,디지털로74길,118631,59302,59327,3914,22366,19984,21153,26408,24803
1000701,도림로63길,91680,54120,37560,2658,14810,15685,18247,24650,15632
...,...,...,...,...,...,...,...,...,...,...
1000478,모래내로7길,53674,26634,27041,5042,11863,9501,9937,9450,7883
1000477,매봉산로2길,314125,176855,137266,9271,89930,90842,65307,37448,21327
1000476,망원로2길,313664,149553,164106,14777,84481,87502,53677,40955,32271
1000475,망원로11길,230568,113011,117556,11346,52665,47268,47403,38625,33262
1000474,만리재옛길,262465,144457,118009,7347,62785,61763,51908,46160,32507

In [40]:
areaside_floating = pd.read_csv('./data/population_material/areaside_floating.csv')

areaside_floating = areaside_floating.drop(areaside_floating.columns[15:], axis='columns')
areaside_floating = areaside_floating.drop(areaside_floating.columns[:4], axis='columns')
areaside_floating.columns = [ 'area_code','area_name','total','m','fm','age10','age20','age30','age40','age50','age60']
areaside_floating = areaside_floating.set_index('area_code')
areaside_floating

,area_name,total,m,fm,age10,age20,age30,age40,age50,age60
area_code,,,,,,,,,,
1000948,백제고분로34길,891686,458778,432913,27424,200897,222019,164050,153462,123843
1000949,백제고분로39길,1350290,664267,686024,60609,314008,316896,224150,230418,204212
1000950,백제고분로42길,1537065,746194,790871,107321,364109,323153,239255,265241,237996
1000951,백제고분로45길,2034278,1011486,1022793,80721,571739,484153,312444,306971,278255
1000952,백제고분로46길,1700466,832267,868198,109671,383186,360773,273150,296763,276932
...,...,...,...,...,...,...,...,...,...,...
1001003,천호대로162길,3214980,1578350,1636628,165164,848189,653189,504567,548544,495339
1001004,천호대로170길,3255534,1645745,1609790,176784,672735,660941,591114,613136,540822
1001008,천호옛14길,3204360,1511917,1692444,155717,815682,639820,501482,563594,528079
1001009,천호옛길,3070192,1485625,1584578,156547,660927,610258,521454,577013,544009
1001010,풍성로37가길,2607258,1287202,1320057,143110,565318,522803,455473,481943,438619

In [41]:
population = pd.DataFrame(columns = ['area_code', 'area_name','total','m','fm','age10','age20','age30','age40','age50','age60'])
population['area_code'] = area['area_code']
population['area_name'] = area['area_name']
population = population.sort_values(['area_code'], ascending=True).reset_index(drop=True)
population = population.fillna(0)
population['idx'] = population['area_code']
population=population.set_index('idx')

populationSum(area_floating)
populationSum(areaside_floating)

population

//anaconda3/envs/recommender/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
//anaconda3/envs/recommender/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
//anaconda3/envs/recommender/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
//anaconda3/envs/recommender/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

//anaconda3/envs/recommender/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
//anaconda3/envs/recommender/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

//anaconda3/envs/recommender/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
//anaconda3/envs/recommender/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
//anaconda3/envs/recommender/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

,area_code,area_name,total,m,fm,age10,age20,age30,age40,age50,age60
idx,,,,,,,,,,,
1000001,1000001,계동길,590169,314981,275185,42546,123494,139454,115106,99849,69721
1000002,1000002,난계로27길,2432652,1385185,1047463,86817,484334,463560,410489,491368,496076
1000003,1000003,돈화문로11가길,1963066,1095423,867641,58272,575893,381689,312555,309619,325040
1000004,1000004,명륜길,1531344,729352,801996,187794,811636,160133,145786,119887,106120
1000005,1000005,백석동길,71211,33013,38211,4705,22189,12549,11065,12458,8239
...,...,...,...,...,...,...,...,...,...,...,...
1001492,1001492,명동 남대문 북창동 다동 무교동 관광특구,4615196,2285088,2330105,95646,1162825,1204798,906279,693988,551663
1001493,1001493,동대문패션타운 관광특구,2544968,1283363,1261604,67562,651843,678178,439649,409280,298451
1001494,1001494,종로·청계 관광특구,4267140,2360635,1906505,122126,1362713,890398,650422,630301,611187
1001495,1001495,잠실 관광특구,1894478,1000145,894324,73955,562466,454612,312676,271589,219184
1001496,1001496,강남 마이스 관광특구,50225,25311,24913,1162,14324,14406,9731,6295,4307

In [42]:
# 결측 값 
population[population['total']==0]

,area_code,area_name,total,m,fm,age10,age20,age30,age40,age50,age60
idx,,,,,,,,,,,
1001278,1001278,남평화시장,0,0,0,0,0,0,0,0,0

In [43]:
population.to_csv('./data/population_floating.csv',index=False)

In [69]:
# 인구 종합 데이터
staying = pd.read_csv('./data/population.csv') #상주인구
floating = pd.read_csv('./data/population_floating.csv') #유동인구
staying=staying.set_index('area_code')
floating=floating.set_index('area_code')
floating

,area_name,total,m,fm,age10,age20,age30,age40,age50,age60
area_code,,,,,,,,,,
1000001,계동길,590169,314981,275185,42546,123494,139454,115106,99849,69721
1000002,난계로27길,2432652,1385185,1047463,86817,484334,463560,410489,491368,496076
1000003,돈화문로11가길,1963066,1095423,867641,58272,575893,381689,312555,309619,325040
1000004,명륜길,1531344,729352,801996,187794,811636,160133,145786,119887,106120
1000005,백석동길,71211,33013,38211,4705,22189,12549,11065,12458,8239
...,...,...,...,...,...,...,...,...,...,...
1001492,명동 남대문 북창동 다동 무교동 관광특구,4615196,2285088,2330105,95646,1162825,1204798,906279,693988,551663
1001493,동대문패션타운 관광특구,2544968,1283363,1261604,67562,651843,678178,439649,409280,298451
1001494,종로·청계 관광특구,4267140,2360635,1906505,122126,1362713,890398,650422,630301,611187
1001495,잠실 관광특구,1894478,1000145,894324,73955,562466,454612,312676,271589,219184
1001496,강남 마이스 관광특구,50225,25311,24913,1162,14324,14406,9731,6295,4307

In [70]:
# 인구 비율데이터 생성
# 상주 인구가 5000이하면 상주인구와 유동인구 비교 후 비율 계산
population = pd.DataFrame(columns = ['area_code', 'area_name','total','m','fm','age10','age20','age30','age40','age50','age60'])
population['area_code'] = area['area_code']
population['area_name'] = area['area_name']
population = population.sort_values(['area_code'], ascending=True).reset_index(drop=True)
population = population.fillna(0)
population['idx'] = population['area_code']
population=population.set_index('idx')

In [72]:
#값대신 비율로 환산해서 넣어줌
def calRate(df):
    population['total'][i] = df.loc[i]['total']
    population['m'][i] = round(df.loc[i]['m']/df.loc[i]['total']*100,0)
    population['fm'][i] = round(df.loc[i]['fm']/df.loc[i]['total']*100,0)
    population['age10'][i] = round(df.loc[i]['age20']/df.loc[i]['total']*100,0)
    population['age20'][i] = round(df.loc[i]['age30']/df.loc[i]['total']*100,0)
    population['age30'][i] = round(df.loc[i]['age40']/df.loc[i]['total']*100,0)
    population['age40'][i] = round(df.loc[i]['age50']/df.loc[i]['total']*100,0)
    population['age50'][i] = round(df.loc[i]['age60']/df.loc[i]['total']*100,0)

for i in population.index:
    if i in staying.index:
        if staying.loc[i]['total'] <5000 and (i in floating.index) and staying.loc[i]['total'] < floating.loc[i]['total']:
            calRate(floating)
            continue
        calRate(staying)
    else:
        calRate(floating)

//anaconda3/envs/recommender/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

//anaconda3/envs/recommender/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
//anaconda3/envs/recommender/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
//anaconda3/envs/recommender/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
//anaconda3/envs/recommender/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

//anaconda3/envs/recommender/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
//anaconda3/envs/recommender/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

//anaconda3/envs/recommender/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

,area_code,area_name,total,m,fm,age10,age20,age30,age40,age50,age60
idx,,,,,,,,,,,
1000001,1000001,계동길,39262,55,45,16,32,25,16,9,0
1000002,1000002,난계로27길,21270,52,48,16,19,16,19,24,0
1000003,1000003,돈화문로11가길,59864,59,41,17,33,25,16,9,0
1000004,1000004,명륜길,28902,46,54,23,27,20,14,11,0
1000005,1000005,백석동길,9697,50,50,15,16,18,17,22,0
...,...,...,...,...,...,...,...,...,...,...,...
1001492,1001492,명동 남대문 북창동 다동 무교동 관광특구,159936,49,51,21,33,26,15,4,0
1001493,1001493,동대문패션타운 관광특구,12580,55,45,22,30,21,16,11,0
1001494,1001494,종로·청계 관광특구,33622,60,40,14,29,26,21,9,0
1001495,1001495,잠실 관광특구,37758,56,44,18,25,20,20,15,0
1001496,1001496,강남 마이스 관광특구,22588,57,43,24,35,25,12,4,0

In [78]:
population.to_csv('./data/population_rating.csv',index=False)
population

,area_code,area_name,total,m,fm,age10,age20,age30,age40,age50,age60
idx,,,,,,,,,,,
1000001,1000001,계동길,39262,55,45,16,32,25,16,9,0
1000002,1000002,난계로27길,21270,52,48,16,19,16,19,24,0
1000003,1000003,돈화문로11가길,59864,59,41,17,33,25,16,9,0
1000004,1000004,명륜길,28902,46,54,23,27,20,14,11,0
1000005,1000005,백석동길,9697,50,50,15,16,18,17,22,0
...,...,...,...,...,...,...,...,...,...,...,...
1001492,1001492,명동 남대문 북창동 다동 무교동 관광특구,159936,49,51,21,33,26,15,4,0
1001493,1001493,동대문패션타운 관광특구,12580,55,45,22,30,21,16,11,0
1001494,1001494,종로·청계 관광특구,33622,60,40,14,29,26,21,9,0
1001495,1001495,잠실 관광특구,37758,56,44,18,25,20,20,15,0
1001496,1001496,강남 마이스 관광특구,22588,57,43,24,35,25,12,4,0